/** CSS  Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** General */

main {
    flex-grow: 1;
    background-color: #141922;
    
}

footer {
    height: 100px;
    flex-shrink: 0;
    background-color: #282828;
}

/** Utility */
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/** Main */

/*nav.side-bar {
    width: 250px;
    height: 100%;
    flex-shrink: 0; senza un flex questo è inutile
    background-color: #000000;

} */



/* vw */

.wrapper-x {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.side-bar {
    width: 250px;
    flex-shrink: 0;
    background-color: #000000;
}


p {
    height: calc(100vh - 100px);
    overflow: auto; 
}
